# Properties
.DS_Store
.env
.env.local

# Modules
node_modules/

# Build
dist/
dist-ssr/

# Editor
.vscode/
.idea/

# Supabase
supabase/.temp/
supabase/functions/*/deno.lock
supabase/functions/*/.npmrc

# Large files
recipe.pdf
bread_recipe.html
